<div class='row'>
    <div class="col-12 col-lg-6 offset-lg-3 text-center">
        <h1>Reset Password</h1>

        <% if (token !== "" && message === true) { %>
            Enter your new password.
            <br /><br />

            <form id="resetPasswordForm">
                <input type="hidden" id="token" value="<%= token %>">
                <div class="mb-3">
                    <label for="newPassword" class="form-label fw-bold">
                        New Password*
                        <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="<ul class='mb-0 text-start'><li>at least 10 characters</li><li>uppercase character</li><li>lowercase character</li><li>numeric character</li><li>special character</li></ul>" data-bs-original-title=""></i>
                    </label>
                    <input type="password" class="form-control" id="newPassword" pattern="<%= process.env.PASSWORD_REGEX_PATTERN %>" required>
                </div>

                <div class="mb-3">
                    <label for="newPasswordConfirm" class="form-label fw-bold">
                        New Password Confirm*
                        <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="<ul class='mb-0 text-start'><li>at least 10 characters</li><li>uppercase character</li><li>lowercase character</li><li>numeric character</li><li>special character</li></ul>" data-bs-original-title=""></i>
                    </label>
                    <input type="password" class="form-control" id="newPasswordConfirm" pattern="<%= process.env.PASSWORD_REGEX_PATTERN %>" required>
                </div>

                <div class="mb-3">
                    <ul id="resetPasswordError" class="d-none text-danger list-unstyled text-center"></ul>
                </div>

                <div class="mb-3">
                    <div class="text-center">
                        <button class="btn btn-secondary" type="submit">Reset Password</button>
                    </div>
                </div>

                <div>
                    <div id="resetPasswordSuccess" class="d-none text-center text-success">Password updated, please <a href="/login">login</a>!</div>
                </div>
            </form>

        <% } else { %>
            Enter your token to reset your password.
            <br /><br />

            <div class="mb-3">
                <p id="resetPasswordTokenError" class="text-danger text-center">
                    <% if (token !== "" && message !== "") { %>
                        <%= message %>
                    <% } %>
                </p>
            </div>

            <form id="resetPasswordTokenForm" action="/reset-password" method="get">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-lg" id="token" name="token" placeholder="Enter your reset token" value="<%= token %>" required />
                </div>

                <div class="text-center">
                    <button class="btn btn-secondary" type="submit">Reset Password</button>
                </div>
            </form>

        <% } %>
    </div>
</div>

<script src="/events/ResetPasswordScriptBundled.js"></script>
